
<!-- Add Jumbotron on the top of question index page -->
<%= render partial: 'shared/jumbortron' %>
  
  
  <!-- Iteration for question lists -->
  <div>
   <%= render :partial => "shared/question_item", :collection => @questions, :as => :question %>
  </div>  

<div class="d-flex justify-content-center p-5">
  <ul class="pagination">
    <%= paginate @questions %>
  </ul> 
</div>



