<div class="container">
  <div class="row">

    <div class="row">
          <%= render :partial => "shared/question_item", :collection => @questions, :as => :question %>
      </div>
  


    <!--Answer counter/button-->
      
        <div class="row">
          <%= link_to 'Write your answers',new_question_path,class:"btn btn-primary float-right" %>
        </div>

      
       
            
               
  </div>
</div>