<div class="container">  
  <div class="row">  
    <div class="col-9">

        <h5><%= link_to @question.title, question_path(@question) %></h5>
        <p><%= @question.description %></p>

     
    </div>
  </div>
</div>