<div class="container">
  <div class="row">
    <!--solution counter/button-->
      
        <div class="col">
          <%= link_to 'Write your answers',new_question_path,class:"btn btn-primary float-right" %>
        </div>

      
    <!--Question list-->
      <div class="col">
      
          <%= render :partial => "shared/question_item", :collection => @questions, :as => :question %>
       
      </div>
      
       
            
               
  </div>
</div>