<div class="col-9">
      <h5>
        <%= link_to question.title, questions_path(question) %>
      </h5>
        <p><%= provide(question.description, length: 100) %></p>

        <%= time_ago_in_words question.created_at %> ago
     
    </div>
