<!-- Iteration for tagged question lists by search -->
<div class="pt-3">
<!-- Iteration for tagged question lists by search -->
 <%= render :partial => "shared/question_item", :collection => @questions, :as => :question %>
</div>  
